@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";

@media (min-width: 320px) {
    .home__header {
        padding: 10px;
    }
    .home__function img {
        width: 50px;
    }

    nav{
        padding-bottom: env(safe-area-inset-bottom);
    }
}

/* Tablet */
@media (min-width: 768px) {
    .home__header {
        padding: 20px;
    }
    .home__function img {
        width: 70px;
    }
}

/* PC */
@media (min-width: 1024px) {
    .home__header {
        padding: 30px;
    }
    .home__function img {
        width: 90px;
    }

    nav, header, main {
        max-width: 720px;
        margin: 0 auto;
    }

    .people__popup, main.container {
        max-width: 700px;
        margin: 0 auto;
    }
}

html, body {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

body {
  padding-bottom: 60px;
}

header,
main {
    width: 100%;
    margin: 0 auto 10px;
}

main {
    padding-inline: 5px;
}

section{
    margin-top: 20px;
}

.custom-swiper .swiper-pagination {
  bottom: -3px;
}

.swiper-pagination-bullet {
  background: white;
  opacity: 0.4;
  width: 8px;
  height: 8px;
  transition: 0.3s;
}

.swiper-pagination-bullet-active {
  background: white;
  opacity: 1;
  width: 12px;
  height: 8px;
  border-radius: 40%;
  transform: scale(1.1);
}


.navbar .nav-link {
    color: silver;
}

.profile__header {
    position: relative;
    height: 100px;
    background-color: #CF3066;
}

.profile__header--union {
    position: relative;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

.profile__header--content {
    color: white;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.profile__bank {
    display: flex;
    padding: 15px;
    gap: 5px;
    width: 46%;
    align-items: center;
    border-radius: 16px;
}

.cash__header {
    position: relative;
    background-color: #CF3066;
    color: white;
    padding: 20px;
}

.cash__details {
  position: absolute;
  width: 90%;
  height: 190px;
  background-color: white;
  color: #000;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color,
.wallet__tag,
.navbar .nav-link.active {
    color: #CF3066 !important;
}


.bg {
    background-color: #CF3066 !important;
}

.people__header {
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #CF3066;
}

.people__tag {
    display: flex;
    height: 88px;
    border-radius: 16px;
    margin: 10px auto;
    padding: 13px;
    width: 100%;
}

.progress-bar{
    height: 10px;
    width: 90%;
    margin-top: 10px;
}

.list-group .list-group-item {
    display: flex;
    align-items: center;
    border-radius: 16px;
    border: none;
}

.custom-link {
  text-decoration: none;
  color: inherit;
}

.custom-link.router-link-active,
.custom-link.router-link-exact-active {
  color: inherit !important;
}

.sha{
 box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
}
  
